<nav class="navbar navbar-default navbar-static-top navbar-inverse">
	<div class="container">
		<ul class="nav navbar-nav">
			<li class="active">
				<a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
			</li>
			<li>
				<a href="/form.html"><span class="glyphicon glyphicon-envelope"></span> Postal Rate Calculator</a>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li class="navbar-right">
				<a href="https://secret-scrubland-75850.herokuapp.com/?action=assignments"><span
						class="glyphicon glyphicon-book"></span> CSE 341 Assignments</a>
			</li>
		</ul>
	</div>
</nav>