<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
	
	<title>Calendar: Project 2</title>
	<link rel="stylesheet" type="text/css" href="/css/calendar.css" />
	<script src="/js/calendar.js"></script>
</head>

<body onLoad="startCalendar();">

	<%- include ("../partials/nav.ejs") %>

	<div class="container">
		<div class="row">
			<div id="calendar"></div>
			<div id="info"></div>
		</div>
	</div>

	<%- include ("../partials/footer.ejs") %>

</body>
</html>