<!DOCTYPE html>
<html>

<head>
	<%- include ("../partials/header.ejs") %>
</head>

<body>

	<%- include ("../partials/nav.ejs") %>

	<div class="jumbotron text-center">
		<div class="container">
			<h1>My Second Node.js App</h1>
			<p>This is a sample Node application to calculates Postal Rates.</p>
			<a type="button" class="btn btn-lg btn-primary" href="/form.html"><span class="glyphicon glyphicon-envelope"></span> Postal Rate Calculator</a>
		</div>
	</div>
	<div class="container">
		<div class="text-center" role="alert">
			Copyright © 2021 Kevin Nielsen - CSE 341
		</div>
	</div>

</body>

</html>