<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs") %>
</head>

<body>

	<%- include ("../partials/nav.ejs") %>

	<div class="jumbotron text-center">
		<div class="container">
			<h1>Node.js</h1>
			<p>Welcome to my Node application Library.</p>
			<a class="btn btn-lg btn-primary" href="/form.html"><span class="glyphicon glyphicon-envelope"></span> Postal Rate Calculator (w09)</a>
			<a class="btn btn-lg btn-primary" href="/calendar"><span class="glyphicon glyphicon-calendar"></span> Calendar (Project 2)</a>
			<a class="btn btn-lg btn-primary" href="/account/login"><span class="glyphicon glyphicon-lock"></span> Login Test</a>
		</div>
	</div>

	<%- include ("../partials/footer.ejs") %>
</body>
</html>