<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Team Week 10</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4">
          <div class="form-group">
            <label for="personID">Person's ID</label>
            <input type="text" class="form-control" name="id" id="personID">
          </div>
          <div class="text-center">
          <button onclick="getDetails()" class="btn btn-primary">Get Details</button>
          <button onclick="getParents()" class="btn btn-primary">Get Parents</button>
          <button onclick="getChildren()" class="btn btn-primary">Get Children</button>
          </div>
        </div>
        <div class="col-sm-4" id="json"></div>
    </div>
  </div>
<script>
function getDetails() {
  //get the query params
  personID = document.querySelector('#personID').value;
  
  //double check that we are looking at the right thing
  console.log(personID);
  
  //declare empty data object and fill it with params
  data = {};
  data["id"] = personID;
  $.ajax({
    type: 'GET',
    url: "/getPerson",
    data: data,
    //return data in json format
    dataType: 'json',  
    success: (data) => {
      //double check that we are getting the right thing
      console.log('ajax success!', data);
      
      //fill div with query result
      $('#json').html(data);
    
    }//success data call
  
  });//ajax function call
}

function getParents(){
    personID = document.querySelector('#personID').value;
    $.ajax({ 
        data: { id: personID },
        url: '/getParent',
        datatype: 'json',
        success: function(result) {
            console.log(result);
            $('#json').html("Parent: " + result);
        }
    });
    return false;
};

function getChildren(){
    personID = document.querySelector('#personID').value;
    $.ajax({ 
        data: { id: personID },
        url: '/getChild',
        datatype: 'json',
        success: function(result) {
              console.log(result);
              $('#json').html("Child: " + result);
        }
    });
    return false;
};
</script>
</body>
</html>